@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}

body {
    height: 100vh;
    background-color: #13131a;
}

.content {
    height: 100%;
    margin: auto auto;
    /*  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(0, 0, 0)90%), url('/img/slider/slider2.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

.narrow {
    display: flex;
    justify-content: space-between;
}

.aside__narrow {
    cursor: pointer;
}

.rigth {
    width: 8%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-arrow-circle-right {
    font-size: 3rem;
    color: rgba(255, 255, 255, .4);
}

.rigth:hover {
    background-color: rgba(255, 255, 255, .05);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.left {
    width: 8%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-arrow-circle-left {
    font-size: 3rem;
    color: rgba(255, 255, 255, .4);
}

.left:hover {
    background-color: rgba(255, 255, 255, .05);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}